@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    color: #130F2b;
    /* background-color: #EEDCD3; */
    font-size: 30px;
}


body {
    /* background-color: #EEDCD3; */
    background-image: url('pattern.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 10%;
    padding: 0.3rem;
}

.table td, .table th {
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-align: center;
}

a, p {
    color: #130F2b;
    margin: 0;
    font-size: 1.5rem;
}

a:hover {
    color: #130F2b;
}

.tooltip> .tooltip-inner {
    color: #EEDCD3;
    font-size: 0.75rem;
}

#instagram, #facebook, #messenger, #telegram, #whatsapp, #viber, #email, #phonecall {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    width: 50px;
}

#warning {
    display: none;
}

#email + a,
#number {
    font-size: 1.2rem;
}

@media (min-width: 350px) {
    * {
        font-size: 16px;
    }

    body {
        padding: 0.3rem;
    }

    .table td, .table th {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    a, p {
        font-size: 1.5rem;
    }

    .tooltip> .tooltip-inner {
        font-size: 0.75rem;
    }

    #instagram, #facebook, #messenger, #telegram, #whatsapp, #viber, #email, #phonecall {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    #warning {
        display: inline;
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
    
    #email + a,
    #number {
        font-size: 0.9rem;
    }

}
